<h1>Edit Book Quantity</h1>

  <%= form_for @book do |f| %>

      <div><%= f.label "ISBN" %><%= @book.isbn %></div>

      <div><%= f.label "Quantity" %></div>

      <div><%= f.number_field "quantity", min: 0%></div>
      <input type="submit" class="btn btn-primary">
      <div></div>


    <% end %>
