<h1>Edit Book Quantity</h1>

<%= form_for @book, :url => book_path(@book.isbn) do |f| %>

      <img src="<%= @book.get_image %>">

      <div><%= @book.get_title %></div>

      <div><%= @book.get_author %></div>

      <div><%= @book.isbn %></div>

      <div><%= @book.quantity_left %></div>

      <div><%= f.label "Quantity" %></div>

      <div><%= f.number_field "quantity", min: 0%></div>

      <input type="submit" class="btn btn-primary">
  <% end %>
