<h1>List of Books</h1>
<table id="book-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
<% @google_books.each_with_index do |book, index| %>
    <tr>
      <td><img src="<%= book.image_link %>"></td>
      <td><%= link_to book.title, book_path(book.isbn) %></td>
      <td><%= book.authors %></td>
      <td><%= book.isbn %></td>
      <td><%= @books[index].quantity %></td>
      <td><%= link_to 'Edit', edit_book_path(book.isbn) %>
      <%= link_to 'Show', book_path(book.isbn) %></td>
    </tr>
<% end %>
  </tbody>
</table>
