  <h3>Register Book</h3>
    <%= form_for @book do |f| %>

      <%= render 'shared/error_messages' %>

      <div><%= f.text_field :title, placeholder: "Title" %></div>

      <div><%= f.text_field :author, placeholder: "Author" %></div>

      <div><%= f.text_field :isbn, placeholder: "ISBN" %></div>

      <div><%= f.text_field :quantity, placeholder: "quantity", class: "input-small" %></div>

      <div><%= f.submit "Register Book", class: "btn btn-primary" %></div>

    <% end %>
