  <h3>Register Book</h3>
    <%= form_for @book do |f| %>

      <%= render 'shared/error_messages' %>

      <div><%= f.text_field :isbn, placeholder: "ISBN" %></div>

      <div><%= f.number_field :quantity, placeholder: "Quantity", min: 0%></div>

      <div><%= f.submit "Register Book", class: "btn btn-primary" %></div>

    <% end %>
