<h1> Search Result </h1>

<table id="book-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Quantity</th>
      <th>Quantity Left</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |book| %>
    <tr>
      <td><img src="<%= book.get_attr("image") %>"></td>
      <td><%= link_to book.get_attr("title"), book_path(book.isbn) %></td>
      <td><%= book.get_attr("author") %></td>
      <td><%= book.isbn %></td>
      <td><%= book.quantity %></td>
      <td><%= book.quantity_left %></td>
    </tr>
  <% end %>
  <tbody>
</table>
