<p>Image:</p>
<img src="<%= @book.get_image %>">
<p>Title: <%= @book.get_title %></p>
<p>Author: <%= @book.get_author %></p>
<p>isbn: <%= @book.isbn %></p>
<p>quantity: <%= @book.quantity %></p>
<p>Quantity Left: <%= @book.quantity_left %></p>

<p>Currently borrowing users</p>
<ul>
  <% @users_borrowed.each do |user, check_out_time| %>
      <li><%= user %> <%= check_out_time %></li>
  <% end %>
</ul>

<%= link_to "Check out", check_out_path(@book.isbn) %>
