<!DOCTYPE html>
<html>
<head>
  <title>Kihon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="brand"><%= link_to "Kihon", root_path %></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Add Book", new_book_path  %></li>
        <% if user_signed_in? %>
          <li><%= link_to "View Your Books", mybooks_path %></li>
          <li>Signed in as <%= current_user.email %>. </li>
          <li><%= link_to "Not you? Sign out", signout_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to "sign in with Google", signin_path %></li>
        <li><%= link_to "sign in with your 8th Light account", signin_openid_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
